/* ##### Links ##### */
.bread-link:link,
.bread-link:visited {
  border-radius: 5px;
  display: block;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  padding: 5px 15px;
  /* border: 2px solid var(--blue-color);
  background-color: var(--blue-color); */
  color: white;
  text-decoration: none;
}

.bread-link:hover,
.bread-link:active {
  font-weight: bold;
}

.bread-link.-online:link,
.bread-link.-online:visited {
  border: 2px solid var(--green-color);
  background-color: var(--green-color);
}

.bread-link.-excel:link,
.bread-link.-excel:visited {
  border: 2px solid var(--blue-color);
  background-color: var(--blue-color);
}

.bread-link.-online:hover,
.bread-link.-online:active {
  background-color: white;
  color: var(--green-color);
}

.bread-link.-excel:hover,
.bread-link.-excel:active {
  background-color: white;
  color: var(--blue-color);
}

/* GitHub link */
.github:link,
.email:link,
.favicon-link {
  padding: 5px;
}

.github:link,
.github:visited,
.favicon-link:link,
.favicon-link:visited {
  color: var(--black-color);
  display: inline-block;
}

.github:hover,
.github:active,
.favicon-link:hover,
.favicon-link:active {
  text-decoration: none;
}

/* Email link */
.email:link,
.email:visited {
  color: var(--black-color);
  text-decoration: none;
  display: inline-block;
}

.email:hover,
.email:active {
  text-decoration: none;
  cursor: auto;
  color: var(--blue-color);
}

/* Favicon link */
.favicon-link:link,
.favicon-link:visited {
  text-decoration: none;
  font-size: 80%;
  font-style: italic;
}