.main-nav {
  /* background-color: var(--black-color-2); */
  background-color: rgb(80, 80, 80);
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .main-nav ul {
    justify-content: center;
  }
}

.main-nav > ul > li {
  display: inline-block;
  margin: 0;
  align-self: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  padding: 15px;
  color: white;
}

.nav-to-root-page:link,
.nav-to-root-page:visited {
  background-color: green;
}

.main-nav-link:active,
.nav-to-root-page:active {
  background-color: var(--grey-bg-color);
  color: rgb(80, 80, 80);
  font-weight: bold;
  text-decoration: none;
}

@media (hover: hover) {

  .main-nav-link:hover,
  .nav-to-root-page:hover {
    background-color: var(--grey-bg-color);
    color: rgb(80, 80, 80);
    font-weight: bold;
    text-decoration: none;
  }
}