/* ##### Media Queries ##### */
@media (max-width: 800px) {
  .main-nav > ul {
    text-align: center;
  }

  .additional-info {
    margin: 0 30px 40px;
  }

}

@media (max-width: 600px) {}

@media (max-width: 300px) {

  .github:link,
  .github:visited,
  .email:link,
  .email:visited {
    padding: 4px 10px;
    display: block;
  }

  .divider {
    display: none;
  }
}