* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #343a40;
  /* height: 100vh; */

  display: flex;
  flex-direction: column;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}

main {
  flex: 1;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  padding: 10px 10px 10px 20px;
}

h4 {
  text-align: center;
  margin-top: 20px;
}

/* .card-title {
  color: #495057;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
} */

.cards-container {
  display: flex;
  justify-content: space-evenly;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.card {
  border: 4px solid #2b8a3e;
  border-radius: 5px;
  width: 400px;
  margin: 0 10px 40px 10px;
}

/* Grid layout */
.grid-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
}

.col-1 {
  text-align: right;
  font-weight: bold;
  color: #495057;
  flex-wrap: wrap;
}

.col-2 {
  color: #b11818;
  /* color: rgb(206, 23, 23); */
}

/* Warning massage */
/*
.msg {
  margin: 40px 0 60px 0;
  padding: 10px;
  text-align: center;
}

.warning {
  color: red;
  text-transform: uppercase;
  text-decoration-line: underline;
  letter-spacing: 0.8px;
  font-size: 14px;
}
*/

.info {
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
  line-height: 1.4;
}

.additional-info {
  margin: 0 60px;
}

.additional-info ul {
  list-style-type: circle;
}

.additional-info li {
  line-height: 1.4;
  margin-bottom: 5px;
}

/* Button - link */
p.cta {
  margin-bottom: 20px;
}

.btn {
  border: 2px solid #364fc7;
  border-radius: 5px;
  display: block;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  padding: 5px 15px;
}

.bread-link:link,
.bread-link:visited {
  background-color: #364fc7;
  color: white;
  text-decoration: none;
}

.bread-link:hover,
.bread-link:active {
  background-color: white;
  color: #364fc7;
  font-weight: bold;
}

/* GitHub link */
.github:link,
.github:visited {
  color: #343a40;
  text-decoration: underline;
}

.github:hover,
.github:active {
  font-weight: bold;
  text-decoration: none;
}

/* Email link */
.email:link,
.email:visited {
  color: #343a40;
  text-decoration: none;
}

.email:hover,
.email:active {
  text-decoration: none;
  cursor: auto;
  color: #364fc7;
}

footer {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 50px;
  padding: 10px 10px 10px 50px;
}
