h3 {
  padding-left: 10px;
  padding-right: 10px;
}

header > h1 {
  font-size: 28px;
}

header.h-2 {
  padding-top: 0;
  margin-bottom: 0;
  text-decoration: underline;
}

header.h-3 {
  padding: 0 20px 10px;
  margin-bottom: 0px;
}

article.example-recipes {
  margin-bottom: 0;
}

div.books {
  display: flex;
  justify-content: center;
}

ul.books {
  /* border: 2px solid red; */
  margin: 0 16px;
  margin-bottom: 20px;
}

ul.books > li {
  /* border: 2px solid purple; */
  margin-left: 16px;
  margin-bottom: 16px;
  list-style-type: circle;

}

.book-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.book-description {
  font-style: italic;
  color: darkgreen;
}

ul.youtube {
  text-align: center;
  margin-bottom: 40px;
}

hr {
  margin-bottom: 40px;
}

hr.end {
  margin: 20px auto;
}

footer {
  margin-top: 40px;
}